/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */

:root {
  --font-family-base: "Inter-Variable";
  --font-family-accent: "PressStart2P", sans-serif;

  --font-weight-title: 700;
  --font-weight-text: 400;

  --color-light: #fff;
  --color-dark: #000;
}
